# System files
.DS_Store
.env
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Vector DB
chroma_db/

# IDE settings
.idea/
.vscode/

# Some speficic documents
Bachelorthesis.pdf

# Misc
*.log
